body {background-color: black}
body{color: white}
h1{
   text-align: center; 
}
#Lamborghini{
    text-align: left;
}
#Comparison{
    text-align: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}